body > table{
    width : 80%;
    background-color: rgba(255, 0, 0, 0.6);
}

table{
    border-collapse: collapse;
}

table.list{
    width: 100%;
}

h1{
    font-style: italic;
    text-align: left;
    color: brown;
}
td,th{
    border:1px solid black ;
    text-align:left ;
    padding: 8px; 
}

tr:nth-child(even),table.list thead>tr{
    background-color: antiquewhite;
}

input[type=text], input[type=number]{
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    display:inline-block;
    border:1px solid black;
    border: radius 4px;
    box-sizing:border-box;
}

input[type=submit]{
    width:30%;
    background-color:wheat;
    color:black;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

from div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: blueviolet;
    margin-right: 4px;  
}

label.validation-error{
    color: red;
    margin-left: 5px;
}

.hide{
    display: none;
}